/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* variables */
:root {
  --board-width: 400px;
  --board-height: 400px;
  --board-color: #4291b9;
  --water-color: #38b2df;
  --ship-color-primary: #656767;
  --ship-color-secondary: #ff1f03;
  --ship-color-tertiary: #fe9048;
}

body {
  background-color: var(--board-color);
}
.container {
  display: grid;
  grid-template-rows: 80px 1fr 100px;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header div {
  place-self: center;
}

button {
  cursor: pointer;
}
#logo {
  font-family: 'Faster One';
  font-size: 3rem;
  color: var(--ship-color-primary);
}
.player1 > div,
.player2 {
  font-family:
    Bungee,
    system-ui,
    -apple-system,
    sans-serif;
  color: white;
  border:
    10px,
    solid var(--ship-color-primary);
  padding: 5px 10px;
  width: 150px;
  text-align: center;
}

.player1 {
  display: flex;
  justify-self: flex-end;
}

.player2 {
  justify-self: flex-start;
}
#randomise {
  font-family: system-ui, sans-serif;
  background-color: var(--board-color);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

#randomise:hover {
  color: rgba(235, 210, 210, 0.84);
}
main {
  display: flex;
  flex-direction: column;
}

.boards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gameboard {
  width: var(--board-width);
  height: var(--board-height);
  display: grid;
  grid-template-columns: repeat(10, calc(400px / 10));
  grid-template-rows: repeat(10, calc(400px / 10));
}

.gameboard button {
  border: 1px solid #a7c9db;
}

.ship {
  background-color: var(--ship-color-primary);
}
.board {
  background-color: var(--board-color);
}
.missed {
  background-color: var(--water-color);
}

.hit {
  background-color: var(--ship-color-tertiary);
}

.turn {
  display: flex;
  flex-direction: column;
  font-family:
    Bungee,
    system-ui,
    -apple-system,
    sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: white;
}

.turn button {
  width: 100px;
  font-family: inherit;
  color: var(--ship-color-primary);
  padding: 5px 10px;
}
